In [ ]:
import requests
import ast
import pandas as pd

atsh = ast.literal_eval(requests.get("https://api-voting.vieon.vn/voting-service/api/v1/objects/all").text)['result']

df = pd.DataFrame({
    'name': [at['name'] for at in atsh],
    'votes': [at['votes'] for at in atsh]
})

df.sort_values(by='votes', ascending=False, inplace=True)
df

               name    votes
10            NEGAV  1303048
2     BUITRUONGLINH  1153822
3             CONGB   821437
16     VŨ CÁT TƯỜNG   816183
0             B RAY   808171
9      MASON NGUYỄN   725260
14            SƠN.K   572733
8             KARIK   194846
17       VƯƠNG BÌNH   154632
13          RYN LEE   147129
6   HUSTLANG ROBBER   141073
1          BIGDADDY   115765
11     NGÔ KIẾN HUY   106599
12           OGENUS   103347
4              GILL    92249
15        THÁI NGÂN    73956
7             JEY B    64711
5           HẢI NAM    52918

In [ ]:
from tasks.api_calling import fetch_data_from_api

In [12]:
URL = "https://api-voting.vieon.vn/voting-service/api/v1/objects/all"
atsh = fetch_data_from_api(URL)

In [13]:
from tasks.s3_upload import upload_file_to_s3

In [14]:
bucket_name = "atsh-public-bucket"
file_name = "api_data.json"
upload_file_to_s3(data=atsh, bucket_name=bucket_name, file_name=file_name)

TypeError: upload_file_to_s3() got an unexpected keyword argument 'data'